@import "~antd/dist/antd.css";

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.browser {
    align-items: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    align-items: flex-start;
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow: hidden;
    height: 95vh;
    /* background-color: #005cbf; */
}

.mynavbar {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 5vh;
    width: 100%;
}

.mynav-brand {
    font-size: 3vh;
    margin-top: 0vh;
    margin-bottom: 0vh;
    margin-left: 1vh;
    margin-right: 1vh;
    line-height: 5vh;
}

.mynav-intro {
    font-size: 2vh;
    margin-top: 1vh;
    margin-bottom: 0vh;
    margin-left: 1vh;
    margin-right: 1vh;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

.mynav-colorgroup {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: flex-end;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 1vh;
}

.mynav-color {
    align-self: center;
    border-radius: 2vh;
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
    margin: 0.5vh;
    height: 2vh;
    width: 2vh;
}

.videofile {
    align-items: flex-start;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 24vw;
    max-width: 320px;
}

.uploadfile {
    align-self: center;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.video {
    align-items: center;
    /* background-color: antiquewhite; */
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 24vw;
    max-width: 320px;
}

.mybtn {
    align-self: center;
    background-color: #007bff;
    border: 1px solid transparent;
    border-color: #007bff;
    border-radius: 0.25rem;
    color: #ffffff;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    padding: 0.375rem 0.75rem;
    vertical-align: middle;
    width: 125px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.mybtn:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    text-decoration: none;
}

.mybtn:focus,
.mybtn.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
    outline: 0;
}

.mybtn.disabled,
.mybtn:disabled {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    opacity: 0.65;
}

.mybtn:not(:disabled):not(.disabled):active,
.mybtn:not(:disabled):not(.disabled).active,
.show > .mybtn.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}

.mybtn:not(:disabled):not(.disabled):active:focus,
.mybtn:not(:disabled):not(.disabled).active:focus,
.show > .mybtn.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.video-webcam {
    height: 18vw;
    width: 24vw;
    max-height: 240px;
    max-width: 320px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.page {
    align-items: center;
    /* background-color: #ff0000; */
    display: flex;
    flex: 10;
    flex-direction: row;
    justify-content: space-between;
    min-width: 61vw;
    height: 95vh;
}

.page-main {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 95vh;
    justify-content: center;
    /* background-color: #282c34; */
}

.page-mainimg {
    border-radius: 10px;
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
}

.page-imgscontainer {
    height: 95vh;
    width: 15vw;
    max-width: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow-x: hidden;
    overflow-y: scroll;
    /* background-color: #ff0000; */
}

.page-imgs {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 15vw;
    max-width: 150px;
    padding-left: 0px;
    padding-top: 1px;
    padding-right: 1px;
    padding-bottom: 1px;
    overflow: hidden;
    /* background-color: aqua; */
}

.page-img {
    border-radius: 5px;
    padding-left: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 0px;
    width: 13vw;
    max-width: 130px;
}
