.browser {
    height: 100vh;
    width: 100vw;
}

/* MAIN */
.main {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    /* background-color: #005cbf; */
}

.main-main {
    align-items: stretch;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    height: 95vh;
    width: 100vw;
    overflow: hidden;
}

.main-bar {
    align-items: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    height: 2vh;
    width: 100vw;
}

/* SIDE */
.side-area {
    align-items: flex-start;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 20vw;
}

.video {
    align-items: center;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 22vh;
    width: 20vw;
}

.video-webcam {
    height: 95%;
    width: 95%;
}

.side-tool {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 73vh;
    width: 6vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

/* no where use this */
.side-tool-line {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    height: 5vw;
    width: 18vw;
}

.tool-icon {
    align-content: center;
    align-items: center;
    align-self: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    font-size: 2.5vw;
    height: 4vw;
    width: 4vw;
    padding: 0.75vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.uploadOutlined {
    font-size: 2.5vw;
    height: 2.5vw;
    width: 2.5vw;
}

.color-group {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0.5vw;
}

.color-one {
    align-self: center;
    border-radius: 1vw;
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
    margin: 0.25vw;
    height: 1vw;
    width: 1vw;
}

.speed-slider {
    width: 8vw;
}

/* PAGE */
.page {
    align-items: center;
    /* background-color: #ff0000; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80vw;
    height: 95vh;
    overflow-x: auto;
    overflow-y: auto;
}

.page-img {
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
    border-width: 0px;
    margin-left: 2px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 2px;
}

.page-close {
    position: absolute;
    right: 1.5vw;
    top: 4vh;
    font-size: 2vh;
}

/* TOP ManuBar */
.manubar {
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3vh;
    width: 100vw;
    /* overflow: hidden; */
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

.logo-img-div {
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 0.5vh;
    border-width: 0px;
    height: 2vh;
    width: 2vh;
    margin-left: 1vh;
    margin-right: 1vh;
    -webkit-app-region: no-drag;
}

/* no where use this */
.logo-img {
    /* so good! */
    vertical-align: top;
    height: 100%;
    width: 100%;
}

.manubar-name {
    align-self: flex-start;
    flex: 1;
    font-size: 1.5vh;
    line-height: 3vh;
}

.manubar-icon {
    justify-content: center;
    align-self: center;
    align-items: center;
    padding: 0.5vh;
    font-size: 2vh;
    height: 3vh;
    width: 4vh;
    -webkit-app-region: no-drag;
}

/* BOTTOM */
.bottombar {
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2vh;
    width: 100vw;
    overflow: hidden;
}

.bottombar-name {
    align-self: flex-start;
    flex: 1;
    font-size: 1.5vh;
    line-height: 2vh;
    margin-left: 0.5vh;
}

.bottombar-icon {
    justify-content: center;
    font-size: 1.5vh;
    height: 1.5vh;
    width: 1.5vh;
    margin-right: 0.5vh;
}

/* HISTORY */
.history-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 90vh; */
    width: 32vw;
    overflow-x: hide;
    overflow-y: aoto;
}

.history-list-item {
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    width: 30vw;
    overflow: hidden;
}

.history-img {
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    max-height: 10vh;
    max-width: 6vw;
    cursor: pointer;
}

.history-title {
    align-items: center;
    display: flex;
    height: 10vh;
    width: 16vw;
    cursor: pointer;
}

.history-delete {
    align-items: center;
    display: flex;
    width: 3vw;
    cursor: pointer;
}
